# Node modules
/node_modules/
# macOS files
.DS_Store
# Android/IntelliJ
/android/.gradle/
/android/.idea/
/android/app/build/
/android/local.properties
*.iml
# iOS
/ios/Pods/
/ios/build/
/ios/DerivedData/
# Sentry
.sentryclirc
# Misc
.env